@charset "utf-8";
/* CSS Document */
/*公共样式*/
/**设置页面距离底部 jquery mobile的样式*/
/*公共样式*/
.ui-page{
	padding-bottom:3.5em;
}
html,body{margin:0;padding:0;}
* html .clearfix {height:1%;}
html[xmlns] .clearfix {display:block;}
.clearfix:after {content:"";display:block;	height:0;clear:both;visibility:hidden;}
.right{ float:right;}
.left{ float:left;}
.mtop10{padding-top:10px;}
.pad1em{padding:0 1em;}
.center{ text-align:center;}
body{background:#eee;}
ul li{ list-style: none;}

.actbanner img{width:100%;height:auto;}
body{ }
.tishiy{margin:0 0;}
.userexit{ text-shadow:none;}/*head css*/
.userexit a{ text-decoration:none;color:#333;}
.userexit a img{width:20px;height:20px;padding-top:5px;}
.main{max-width:720px; margin:0 1em;}
.mymessage{width:100%;background:#fff; margin-top:10px;}
.mesglist{border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;padding-top:12px;padding-bottom:10px;margin-top:0px;margin-bottom:10px;}
.mymessage .mesglist:last-child{margin-bottom:0px;}
.mesglist dt img{width:20px;height:20px;margin-top:0px;}
.mesglist dt,.mesglist dd{ float:left;}
.mesglist dt{margin-left:5%;}
.mesglist dd{margin-left:10px; font-family:"微软雅黑";width:80%;color:#888;}
.headers{ background:linear-gradient(#333, #111) repeat scroll 0 0 #111111;border-bottom:0px;padding:0px 0px 1px 0px;text-shadow:none }
.headers h1{ font-family:"微软雅黑";}
.banner{width:100%; max-height:313px;overflow:hidden;background:url(../images/user_bj.jpg) no-repeat center;background-size:100% auto; max-width:720px; margin:0 auto; position:relative;}
.banner .userimg{}
.banner .userimg img{width:19%; height:auto;margin-left:14%;padding-top:3%;padding-bottom:3%; float:left;padding-right:3%;}
.banner .username{margin-top:8%; font-family:"微软雅黑"; font-size:1.2em;}
/*快捷入口*/
.fastent{width:100%;max-width:720px; margin:0 auto; border-bottom:1px solid #e5e5e5;padding-bottom:13px;background:#fff;}
.fastent .fastse{ float:left;width:25%; text-align:center;}
.fastent .fastse:nth-child(2){background:url(../images/line_bj.jpg) no-repeat left 10px;}
.fastent .fastse:nth-child(3){background:url(../images/line_bj.jpg) no-repeat left 10px;}
.fastent .fastse:nth-child(4){background:url(../images/line_bj.jpg) no-repeat left 10px;}
.fastent .fastse a{ text-decoration:none; font-size:14px; color:#414141;}
.fastent .fastse p{ margin-top:0.7em;margin-bottom:0.4em;color:#999;}
.huisee{background:#f9f9f9;}
/*问答，活动*/
.inactiv{width:100%;border:1px solid #e5e5e5;border-radius:5px;background:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));background-image:-webkit-linear-gradient(#fff,#f1f1f1);background-image:-moz-linear-gradient(#fff,#f1f1f1);background-image:-ms-linear-gradient(#fff,#f1f1f1);background-image:-o-linear-gradient(#fff,#f1f1f1);background-image:linear-gradient(#fff,#f1f1f1); margin-top:10px;}
.inactiv .actimg{width:59px;padding-top:18px; text-align:center;}
.inactiv .actimg{float:left; display:inline;}
.inactiv .actab{ float:left;}
.inactiv .actab .ui-link{color:#333;text-decoration:none;}
.inactiv .actmages{ float:right;}
.inactiv .actimg img{width:39px;max-width:80px; height:auto;}
.inactiv .actab{margin-left:10px; width:70%;}
.inactiv .actab p:nth-child(1){ font-family:"微软雅黑"; font-size:16px;color:#343233 ; line-height:30px;margin:10px 0;}
.inactiv .actab p:nth-child(2){ font-size:12px; color:#828282;margin-top:5px;margin-bottom:10px;background:url(../images/date_img.png) no-repeat;background-size:16px 16px;height:18px;padding-left:20px; line-height:18px;}

/*活动页面*/
.inactiv .actmages{padding-top:14px; text-align:center;padding-bottom:10px;}
.inactiv .actmages img{width:50px;height:50px; }
.actmages a{ text-decoration:none;color:#fff;padding:5px; display:block;  font-size:12px; text-shadow:none;border-radius:5px;}
.actmages a:hover{ text-decoration:none;color:#fff;padding:5px; display:block; font-size:12px; text-shadow:none;}
.ongres a{border:1px solid #f39c18;background:#FFB13B;}
.ongres a:hover{background:#FFB13B;color:#fff;}
.grees a{background:#999;border:1px solid #c7c7c7;}
.grees a:hover{background:#999;}
.actmages .ui-link{color:#fff;}
.actmages .ui-link:hover{color:#fff;}
.actmages .ui-link:LINK{color:#fff;}
.actmages .ui-link:visited{color:#fff;}
.actmages .ui-link:active{color:#fff;}
.borradis1 dd{}
.borradis1 dd .ui-corner-all{border-radius:5px;width:97%;}/**/
/*提问*/
.queswhrite{font-size: 14px;line-height: 37px; text-decoration:none; font-family:"微软雅黑"; float:right;margin-right:25px;background:url(../images/ico_whrite.jpg) 0px 8px no-repeat;background-size:20px 20px;padding-left:24px;color:#dd5151;}
.questitle dt,.questitle dd{ float:left;}
.questitle{margin:0 0;padding:10px 0px 10px 20px; line-height:33px;border-bottom:1px dashed #c8c8c8;}
.questitle dt{max-width:227px;}
.questitle dt a{ text-decoration:none; font-family:"微软雅黑"; font-size:14px;color:#616161;}
.questitle dd{font-family:"微软雅黑"; font-size:14px;color:#afafaf;margin-left:0px;margin-left:15px;}
.Sudiv .cont .questitle dd img{width:19px;height:19px;margin-bottom:-4px;margin-right:6px;}


.nav dl{width:100%;padding:10px 0px 10px 0px;background:#fff; margin:0px;border-bottom:1px solid #cdcdcd; line-height:normal;}
.nav dl dt,.nav dl dd{ float:left; font-family:"微软雅黑"; font-size:16px;}
.ui-content{padding:0px; max-width:718px; margin:0 auto;}
.icoright{width:2%; height:auto;max-width:19px;margin-right:8%;}
.nav a dl dt{color:#414141; margin-left:16px;}
.nav a dl dd{ font-size:10px;color:#adacac; margin-left:0px; line-height:20px;}
.nav .navw1{}
.ico_left{width:28px;height:auto; margin-left:16px;}
.histor{ width:100%;background:#FFF;min-height:200px;margin-top:10px;border-top:1px solid #cccccc;}
.histor .title{  font-family:"微软雅黑"; }
.histor .title span:nth-child(1){width:20px;height:20px;background:#ff9000; float:left;margin-left:20px;}
.histor .title span:nth-child(2){color:#333; font-size:14px;margin-left:10px;margin-top:20px; font-family:"微软雅黑";}
.foot{ color:#999999; font-size:12px; font-family:"微软雅黑"; width:100%; text-align:center; margin-top:10px;padding-bottom:10px;}

/*活动表单*/
.Sudiv{width:93%;max-width:720px;margin:0 auto;}
.titles{background:#f39800;height:37px;width:100%;margin-bottom:10px; line-height:34px;color:#fff; text-shadow:none;font-family:"微软雅黑";font-size:12px;overflow: hidden;}
.Sudiv .title{background: linear-gradient(#fff, #f5f5f5) repeat scroll 0 0 #f5f5f5;border:1px solid #c7c7c7;border-radius:5px 5px 0px 0px;height:37px;width:100%;}
.suname{margin:0 1.2em; height:50px; line-height:50px;font-family:"微软雅黑"; font-size:1em;border-bottom:1px solid #CCCCCC;}
.suname dt,.suname dd{ float:left; display:inline;}
.ico_whrite{line-height:12px; display:block; height:50px; line-height:53px;background:url(../images/ico_whrite.jpg) 0px 17px no-repeat;background-size:18px 18px;padding-left:20px;}
.subext button{}
.submiteette span{ background:#009944; display:block;height:40px;text-shadow:0; cursor:pointer;margin-top:15px;border-radius:5px; text-align:center; line-height:40px; font-family:"微软雅黑"; color:#fff; text-shadow:none;}
.title img{width:20px;height:20px;}
.titles img{width:20px;height:20px;}
.icooeo{ margin-top:7px;margin-left:15px;float:left;}
.titlea{ float:left; font-size:14px; line-height:34px;margin-left:10px;}
.wryh{ font-family:"微软雅黑";font-size:14px;}
.Sudiv .cont{border-left:1px solid #c7c7c7;border-top:1px solid #c7c7c7;border-right:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;width:100%;border-radius:0px 0px 5px 5px;padding-bottom:10px;background:#fff;}
.Sudiv .cont .submessage{ margin:0 0;padding:9px 0px 15px 0px; font-family:"微软雅黑"; line-height:30px; border-bottom:1px solid #c7c7c7;}
.Sudiv .cont .submessage dt{ font-weight:700; margin:0 1em;}
.Sudiv .cont .submessage dd{margin-left:16px;color:#8a8a8a;}


/*.allactive{padding:10px; font-family:"微软雅黑"; font-size:12px; line-height:20px; }
.acttitle{ font-size:16px; color:#000000;line-height:35px;margin-left:10px;}
.activesmail{}
.allactive dl{margin-top:0px;}
.allactive dt{ font-size:14px; padding-bottom:10px; border-bottom:1px solid #e1e1e1;margin-bottom:10px;}
.allactive dt img{width:100%; height:auto;}
.allactive .actienr{margin-left:0px; text-indent:2em;max-height:100px; overflow:hidden; color:#666666;}
.allactive .hrefactiv{ margin-left:0px;}
.allactive .hrefactiv a{ display:block;margin-top:20px; text-decoration:none;color:#fff;background:#009944;width:80px; text-align:center; line-height:30px; height:30px; text-shadow:none;}
.allactive .hrefactiv a:hover{ color:#fff;}
*/
.allactive .hrefactiv a:LINK{color:#fff;}
.allactive .hrefactiv a:visited{color:#fff;}
.allactive .hrefactiv a:active{color:#fff;}
.allactive .hrefactivs a:LINK{color:#fff;}
.allactive .hrefactivs a:visited{color:#fff;}
.allactive .hrefactivs a:active{color:#fff;}
.redmessag{background:#CCCCCC; margin:0 0; text-align:center; line-height:30px;color:#FF0000; }
.abmore{margin:0.5em; text-align:center;line-height:30px;height:30px;border:1px solid #e1e1e1;background:#fff; font-size:12px; cursor:pointer;}


.redmess{  border-bottom: 1px solid #C7C7C7;/*英才提示*/
    font-family: "微软雅黑";
    line-height: 30px;
    margin: 0;
    padding: 5px 1em; color:#FF0000; font-size:14px;}
.allactive{padding:10px; font-family:"微软雅黑"; font-size:12px; line-height:20px; }
.acttitle{ font-size:16px; color:#000000;line-height:35px;margin-left:10px;}
.activesmail{}
.allactive dl{margin-top:0px;}
.allactive dt{ font-size:14px; padding-bottom:10px; border-bottom:1px solid #e1e1e1;margin-bottom:10px;}
.allactive dt img{width:100%; height:auto;}
.allactive .actienr{margin-left:0px; text-indent:2em;max-height:100px; overflow:hidden; color:#666666;font-size:15px;}
.allactive .hrefactiv{ margin-left:0px;}
.allactive .hrefactivs{ margin-left:0px;}
.allactive .hrefactiv a{ display:block;margin-top:20px; text-decoration:none;color:#fff;background:#009944;width:80px; text-align:center; line-height:30px; height:30px; text-shadow:none;}
.allactive .hrefactivs a{ display:block;margin-top:20px; text-decoration:none;color:#fff;background:#999;width:80px; text-align:center; line-height:30px; height:30px; text-shadow:none;}
.allactive .hrefactiv a:hover{ color:#fff;}
.allactive .hrefactivs a:hover{ color:#fff;}
.redmessag{background:#CCCCCC; margin:0 0; text-align:center; line-height:30px;color:#FF0000; }
.abmore{margin:0.5em; text-align:center;line-height:30px;height:30px;border:1px solid #e1e1e1;background:#fff; font-size:12px; cursor:pointer;}
.tishi dt{ line-height:33px;color:#7f7f7f;}
.tishi dd{ line-height:33px;color:#ff7272;}

.redmess{  border-bottom: 1px solid #C7C7C7;/*英才提示*/
    font-family: "微软雅黑";
    line-height: 30px;
    margin: 0;
    padding: 5px 1em; color:#FF0000; font-size:14px;}
.typetxt{ font-family:"微软雅黑"; font-size:12px; color:#999;}
.labtle{margin:0 2em;line-height:30px;}
.zjtitle{background:#e1e1e1;border-bottom:1px solid #c7c7c7;border-top:1px solid #c7c7c7;height:37px;width:100%;margin-top:20px;}
.zjtitle img{width:20px;height:20px;}
.singlechan{margin:0px 1em;}/*性别选择*/
.singlechan .ui-btn-up-c{ border:0px;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e1e1e1));background-image:-webkit-linear-gradient(#fff,#e1e1e1);background-image:-moz-linear-gradient(#fff,#e1e1e1);background-image:-ms-linear-gradient(#fff,#e1e1e1);background-image:-o-linear-gradient(#fff,#e1e1e1);background-image:linear-gradient(#fff,#e1e1e1);border:1px solid #999;color:#333;}
.singlechan .ui-btn-hover-c{border:1px solid #10974d;}
.singlechan .ui-btn-active{border:1px solid #10974d;background:#fff;font-weight:700;color:#fff;cursor:pointer;text-decoration:none;background-image:-webkit-gradient(linear,left top,left bottom,from(#17af5c),to(#17af5c));background-image:-webkit-linear-gradient(#17af5c,#17af5c);background-image:-moz-linear-gradient(#17af5c,#17af5c);background-image:-ms-linear-gradient(#17af5c,#17af5c);background-image:-o-linear-gradient(#17af5c,#17af5c);background-image:linear-gradient(#17af5c,#17af5c);font-family:Helvetica,Arial,sans-serif}

/*下拉*/
.dayselect .ui-select .ui-btn-up-c{background:none; margin:0 1em;color:#666;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e1e1e1));background-image:-webkit-linear-gradient(#fff,#e1e1e1);background-image:-moz-linear-gradient(#fff,#e1e1e1);background-image:-ms-linear-gradient(#fff,#e1e1e1);background-image:-o-linear-gradient(#fff,#e1e1e1);background-image:linear-gradient(#fff,#e1e1e1);}
.dayselect .ui-select .ui-btn-hover-c{margin:0 1em;color:#666;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#d7d7d7));background-image:-webkit-linear-gradient(#fff,#d7d7d7);background-image:-moz-linear-gradient(#fff,#d7d7d7);background-image:-ms-linear-gradient(#fff,#d7d7d7);background-image:-o-linear-gradient(#fff,#d7d7d7);background-image:linear-gradient(#fff,#d7d7d7);}
.dayselect .ui-select select{}
/*活动详情*/
.activdetails{ font-family:"微软雅黑"; max-width:720px; border:1px solid #e1e1e1; margin:0 auto;}
.activdetails dl{background:#fff;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;width:100%;line-height:30px;margin:7px 0;}
.activdetails dl dt,.activdetails dl dd{ float:left; }
.activdetails dl dt{ margin-left:10px;}
.activdetails dl dd{ margin-left:10px;color:#666666; font-size:14px;}
.activdetails h1{width:100%; text-align:left; font-size:16px; text-indent:0.5em;}
.actabout{background:#FFFFFF; padding:10px;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; font-size:14px;color:#666;}
.activdetails .actnumb dd{color:#FF0000;}
.activdetails .actmuch dd{color:#006666;}
.sqred dd{ color:#FF0000;text-align:center;}
.sqred dd{margin-left:0px;}
.sqred a{ text-decoration:none;color:#666666; font-family:"微软雅黑";}
/*内容详情页*/

.allcont{width:96%;max-width:720px; margin:0 auto;border:1px solid #e1e1e1;border-top:0px;background:#fff;padding:10px;}
.titleh1{ font-family:"微软雅黑"; font-size-adjust:15px;padding-top:10px;padding-bottom:10px; text-align:center;}
.date99{ width:100%; text-align:center; line-height:20px; height:20px; font-family:"微软雅黑"; font-size:13px;color:#999999;}
.pdbot20{padding-bottom:20px;}
.imghuodauto{width:100%; height:auto;}
.allnr{ font-family:"微软雅黑"; font-size:12px; line-height:22px; }
.allnr p{ text-indent:2em;}

.succesgre{background:url(../images/successgree.png) 0 6px no-repeat;background-size:20px 20px;padding-left:30px; color:#993333;}
.titleh2{margin:0 auto;}
.marg1em{ margin:0 1em;}
.line30{ line-height:30px; font-family:"微软雅黑"; font-size:14px;}
.bordbot1{border-bottom:1px solid #e1e1e1;padding-bottom:10px;margin-bottom:10px;}


/*容器*/
#xzw_starSys{}
#xzw_starBox{position:relative;width:120px;float:left}
/**/
#xzw_starSys .description{clear:both;padding:10px 0px}
#xzw_starSys .star{height:20px;width:120px;position:relative;background:url(../images/lanrentuku.png) repeat-x;cursor:pointer}
#xzw_starSys .star li{float:left;padding:0px;margin:0px}
#xzw_starSys .star li a{display:block;width:24px;height:20px;overflow:hidden;text-indent:-9999px;position:absolute;z-index:5}
#xzw_starSys .star li a:hover{background:url(../images/lanrentuku.png) 0 -25px repeat-x;z-index:3;left:0}
#xzw_starSys .star a.one-star{left:0}
#xzw_starSys .star a.one-star:hover{width:24px}
#xzw_starSys .star a.two-stars{left:24px}
#xzw_starSys .star a.two-stars:hover{width:48px}
#xzw_starSys .star a.three-stars{left:48px}
#xzw_starSys .star a.three-stars:hover{width:72px}
#xzw_starSys .star a.four-stars{left:72px}
#xzw_starSys .star a.four-stars:hover{width:96px}
#xzw_starSys .star a.five-stars{left:96px}
#xzw_starSys .star a.five-stars:hover{width:120px}
#xzw_starSys .current-rating{background:url(../../images/lanrentuku.png) 0 -25px repeat-x;position:absolute;height:20px;z-index:1;top:0;left:0}
#xzw_starSys ul{margin:0;padding:0;}

.activlist{max-width:720px;width:93%;margin:0 auto;padding-top:10px;padding-bottom:10px;}
.activlist img{width: 20px;height: 20px;}
.activtitle{line-height:37px;font-size:14px;height:37px;border:1px solid #c7c7c7;border-radius:5px 5px 0 0;background: linear-gradient(#fff, #f5f5f5) repeat scroll 0 0 #f5f5f5;border-bottom:0px;}
.activcont{border:1px solid #c7c7c7;background:#fff;font-family:"微软雅黑";}
.activcont dl{padding:0 1em ;border-bottom:1px dashed #e1e1e1;padding-bottom:0.5em;margin-top:0;margin-bottom:0px;position:relative;}
.activcont dl dt{font-size:14px; font-size:14px; line-height:37px;}
.activcont dl dt a{text-decoration: none;color:#333;}
.activcont dl dd{margin-left:0px;padding-left:2em; font-size:12px;color:#999;background:url(../images/date_img.png) no-repeat left;background-size: 16px 16px;}

/**2015-04-02**/
.twzsk{width:70px;height:35px; text-shadow:none;font-family:"Microsoft YaHei"; text-align:center; line-height:30px; font-size:14px;max-width:720px;margin-right:10px;margin-top:0px; float:right;}
.twzsk a{ text-decoration:none;color:#666; line-height:35px;}
.twzsk a:hover{color:#666;}
.Sudiv .titlezs{height:40px;border-bottom:1px dashed #e1e1e1; }
.Sudiv .titlezs img{width:25px;}
.Sudiv .cont .more{ text-align:center;margin-top:10px;}
.Sudiv .cont .more a{ text-decoration:none; font-family:"Microsoft YaHei"; font-size:14px;color:#666666; line-height:30px;height:30px;}



/*2015-04-02*/
.search_zs{max-width:720px;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;padding:10 0;background:#fff;padding-top:10px;padding-bottom:10px;margin:0 auto;}
.search_zs .ui-input-text{width:180px;font-family:"Microsoft YaHei"; font-size:14px;color:#666; float:left;}
.search_zs .ui-btn{width:40px;border-radius:0;background:url(../images/sefrgthyju.jpg) no-repeat;float:left;height:33px; margin:0;border:0px;}
.title_zs{font-family:"Microsoft YaHei";font-size:18px;margin:0 auto;max-width:720px; text-align:center; line-height:50px;height:50px;}

.ques_zs{max-width:720px;margin:0 auto;}
.ques_lists{background:#fff;border:1px solid #e1e1e1;border-radius:4px;margin:0.5em;max-width:700px;}
.titta{height:45px;}
.titta .tt_name{ float:left; display:inline;padding-left:15px;padding-top:15px;}
.titta .tt_name p{margin:0 ;}
.titta .tt_zt{ float:right; display:inline;padding-top:15px;padding-right:15px;}
.tt_name .date{ font-size:14px; line-height:20px;color:#888;font-family:"Microsoft YaHei";}
.usname{font-family:"Microsoft YaHei"; font-size:18px;}
.tt_zt{font-family:"Microsoft YaHei"; font-size:14px;}
.colorgre{color:#2eaa4b;}
.ques_lists h2{  font-size:16px;padding:15px;margin-bottom:0px;}
.ques_lists h2 a{font-family:"Microsoft YaHei"; text-decoration:none;color:#333;}
.cont_nr{ font-size:12px;padding:15px;color:#888;padding-top:0px; line-height:18px;}
.gengduo{width:100px; height:30px;background:#fff;margin:0 auto; text-align:center; line-height:30px;border:1px solid #e1e1e1;}
.gengduo a{font-family:"Microsoft YaHei"; text-decoration:none;color:#666; font-size:14px;   display:block;}
.gengduo .ui-link{font-weight:100;}
.colorong{color:#eb6100;}
